body {
  background-color: #193db1;
  min-height: 95vh;
}

.inputs {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  background-color: #e7d61f;
  height: 75px;
  margin: 30px;
  width: 750px;
  font-size: 60px;
  border-radius: 20px;
  padding-left: 10px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #e7d61f;
  height: 75px;
  margin: 30px;
  width: 500px;
  font-size: 50px;
  border-radius: 50px;
}

.items {
  background-color: #e7d61f;
  align-items: center;
  height: 75px;
  margin: 30px;
  width: 500px;
  font-size: 50px;
  border-radius: 30px;
}

#todoList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.todo-item {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 10px 0;
}

.thing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  background-color: #e7d61f;
  padding: 10px 20px;
  border-radius: 30px;
}

.deleteButton {
  margin-left: 20px;
  height: 50px;
  width: 150px;
  font-size: 24px;
}
